html {
    font-size: 16px;
}

body {
    min-height: 100vh;
    background: rgb(0,12,36);
    background: linear-gradient(90deg, rgba(0,12,36,1) 90%, rgba(9,121,24,1) 95%, rgba(0,255,222,1) 100%);
    font-family: "Poppins", sans-serif;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
    min-height: 100vh;
    background: rgba(255, 255, 255, 0.1);
}

.wrapper__menu {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

.menu__list {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.list__item {
    height: 50px
}

.wrapper__menu img {
    height: 50px;
    width: 50px;
}

.list__item, .wrapper__menu a {
    height: 50px;
    padding: 0 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 500;
}

.wrapper__menu a:hover {
    background: rgba(255, 255, 255, 0.1);
}

.wrapper__menu .list__item:first-child {
    margin-right: auto;
    font-size: 1.5rem;
    font-weight: 600;
}

.search {
    font-size: 1rem;
    color: #fff;
    margin-bottom: 80px;
}

.search .search-box {
    margin: 50px auto;
    width: 54%;
    height: 360px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 15px;
}

.search-box .search-heading {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 550;
}

.search-bar-left,
.search-bar-right {
    width: 50%;
    height: 160px;
    padding: 0 10px;
}

.main-options {
    margin: 15px auto 0 auto;
    height: 160px;
    display: flex;
    justify-content: space-between;
}

.main-options .search-bar-left,
.main-options .search-bar-right {
    line-height: 25px;
}

.main-options .search-item {
    margin: 4px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-options select,
.main-options input {
    font-family: "Poppins", sans-serif;
    width: 40%;
    background: #fff;
    border: 1px solid rgba(255, 255, 255, 100%);
    border-radius: 2px;
    outline: none;
    font-size: 0.9rem;
    color: #000;
    padding: 1px;
}

.item-box {
    width: 220px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#money input,
#year input {
    width: 30%;
}

.additional-options {
    margin: 0 auto;
    width: 50%;
    height: 60px;
}

.additional-heading {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 510;
    margin-bottom: 15px;
}

.additional-options {
    display: flex;
    justify-content: space-between;
}

.additional-column {
    display: flex;
    flex-direction: column;
}

.additional-column label {
    margin: 2px;
}

.wrapper .search-btns {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-btns button {
    font-family: "Poppins", sans-serif;
    width: 80px;
    height: 30px;
    font-size: 1rem;
    font-weight: 500;
    background: transparent;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
    border: 2px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
}

.search-btns .btn-submit:hover {
    background: #3c9806;
}

.search-btns .btn-reset:hover {
    background: #ad0c0c
}

.products {
    width: 100%;
    height: fit-content;
}

.products .products__heading {
    font-size: 1.5rem;
    font-weight: 550;
    color: #fff;
    text-align: center;

}

.products-wrap {
    width: 1500px;
    height: fit-content;
}

.products__first-line,
.products__second-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.products__item {
    width: 325px;
    height: 400px;
    margin: 25px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
    border: 2px solid #fff;
    border-radius: 10px;
}

.products__item .item-image {
    width: 301px;
    height: 200px;
    margin: 10px auto 20px auto;
    border: 2px solid #fff;
    border-radius: 7px;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-image img {
    width: 291px;
    height: 190px;
}

.products__item .item-info {
    width: 94%;
    list-style: none;
    color: #fff;
    font-weight: 400;
    margin-left: 10px;
}

.item-info .info-row {
    margin-bottom: 4px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.item-info .info-row:last-child {
    font-size: 1.3rem;
    font-weight: 500;
}

.info-row:last-child .row-special:last-child {
    color: #3c9806;
}

.products__item .btn-container {
    width: 100%;
    height: 50px;
    line-height: 50px;
    display: flex;
    justify-content: end;
    align-items: end;
    padding-right: 10px;
}

.btn-buy {
    width: 70px;
    height: 35px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
}

.btn-buy:hover {
    background: #3c9806;
    transform: translateY(-2px);
}

.footer {
    width: 100%;
    height: fit-content;
    margin-top: 100px;
    padding-top: 15px;
    background: rgba(255, 255, 255, 0.2);
}

.footer__first-line {
    width: 50%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.footer__first-line .line-title {
    font-weight: 500;
    font-size: 1.2rem;
    color: #fff;
}

.footer__first-line .line-item {
    width: 140px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
}

.footer__first-line #Telegram-blog {
    background: #08c;
}

.footer__first-line #YouTube-blog {
    background: #c90505;
}

.footer__first-line #Twitter-blog {
    background: #1da1f2;
}

.footer__first-line #Facebook-blog {
    background: #4267b2;
}

.footer__second-line {
    width: 80%;
    margin: 50px auto 0 auto;
    padding-bottom: 10px;
    text-align: center;
    color: #fff;
    font-size: 0.8rem;
}

.creator-text {
    margin-top: 20px;
    font-size: 0.7rem;
}