@font-face {
    font-family: 'CustomFont';
    src: url('/homework5/fonts/Poppins/Poppins-Black.ttf') format('ttf');
}

html {
    font-size: 16px;
}

body {
    background: rgb(0,12,36);
    background: linear-gradient(90deg, rgba(0,12,36,1) 90%, rgba(9,121,24,1) 95%, rgba(0,255,222,1) 100%);
    font-family: 'CustomFont', sans-serif;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
    min-height: 100vh;
    background: rgba(255, 255, 255, 0.1);
}

.wrapper__menu {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

.wrapper__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    list-style: none;
}

.wrapper__item {
    height: 50px
}

.wrapper__menu img {
    height: 50px;
    width: 50px;
}

.wrapper__item, .wrapper__item a {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 10px;
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.wrapper__menu a:hover {
    background: rgba(255, 255, 255, 0.1);
}

.wrapper__menu .wrapper__item:first-child {
    margin-right: auto;
    font-size: 1.5rem;
    font-weight: 600;
}

.search {
    font-size: 1rem;
    color: #fff;
    margin-bottom: 80px;
}

.search .search__box {
    margin: 50px auto;
    width: 54%;
    height: 360px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 15px;
}

.search__box .search__heading {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 550;
}

.search__main-options {
    margin: 15px auto 0 auto;
    height: 160px;
    display: flex;
    justify-content: space-between;
}

.search__bar-left,
.search__bar-right {
    width: 50%;
    height: 160px;
    padding: 0 10px;
    line-height: 25px;
}

.search__main-options .search__item {
    margin: 4px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search__main-options select,
.search__main-options input {
    width: 40%;
    padding: 1px;
    background: #fff;
    border: 1px solid rgba(255, 255, 255, 100%);
    border-radius: 2px;
    outline: none;
    font-family: 'CustomFont', sans-serif;
    font-size: 0.9rem;
    color: #000;
}

.search__inner-box {
    width: 220px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#money input,
#year input {
    width: 30%;
}

.search__heading--additional {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 510;
    margin-bottom: 15px;
}

.search__options {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 50%;
    height: 60px;
}

.search__column {
    display: flex;
    flex-direction: column;
}

.search__column label {
    margin: 2px;
}

.search__buttons {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search__buttons button {
    width: 80px;
    height: 30px;
    background: transparent;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
    border: 2px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'CustomFont', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
}

.search__buttons .search__reset-btn:hover {
    background: #ad0c0c
}

.search__buttons .search__submit-btn:hover {
    background: #3c9806;
}

.products {
    width: 100%;
    height: fit-content;
}

.products__heading {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 550;
    color: #fff;
}

.products__wrap {
    width: 1500px;
    height: fit-content;
}

.products__top,
.products__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.products__item {
    width: 325px;
    height: 400px;
    margin: 25px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
    border: 2px solid #fff;
    border-radius: 10px;
}

.products__image {
    width: 301px;
    height: 200px;
    margin: 10px auto 20px auto;
    border: 2px solid #fff;
    border-radius: 7px;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products__image img {
    width: 291px;
    height: 190px;
}

.products__info {
    width: 94%;
    list-style: none;
    color: #fff;
    font-weight: 400;
    margin-left: 10px;
}

.products__row {
    margin-bottom: 4px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.products__row:last-child {
    font-size: 1.3rem;
    font-weight: 500;
}

.products__row:last-child .products__row--special:last-child {
    color: #3c9806;
}

.products__btn-container {
    width: 100%;
    height: 50px;
    line-height: 50px;
    display: flex;
    justify-content: end;
    align-items: end;
    padding-right: 10px;
}

.products__buy {
    width: 70px;
    height: 35px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'CustomFont', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
}

.products__buy:hover {
    background: #3c9806;
    transform: translateY(-2px);
}

.footer {
    width: 100%;
    height: fit-content;
    margin-top: 100px;
    padding-top: 15px;
    background: rgba(255, 255, 255, 0.2);
}

.footer__top {
    width: 50%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.footer__heading {
    white-space: nowrap;
    font-weight: 500;
    font-size: 1.2rem;
    color: #fff;
}

.footer__top .footer__item {
    width: 140px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
}

.footer__top #Telegram-blog {
    background: #08c;
}

.footer__top #YouTube-blog {
    background: #c90505;
}

.footer__top #Twitter-blog {
    background: #1da1f2;
}

.footer__top #Facebook-blog {
    background: #4267b2;
}

.footer__bottom {
    width: 80%;
    margin: 50px auto 0 auto;
    padding-bottom: 10px;
    text-align: center;
    color: #fff;
    font-size: 0.8rem;
}

.footer__text--mod {
    margin-top: 20px;
    font-size: 0.7rem;
}