@font-face {
    font-family: 'CustomFont';
    src: url('/homework5/fonts/Poppins/Poppins-Black.ttf') format('ttf');
}

html {
    font-size: 16px;
}

body {
    background: rgb(0,12,36);
    background: linear-gradient(90deg, rgba(0,12,36,1) 90%, rgba(9,121,24,1) 95%, rgba(0,255,222,1) 100%);
    font-family: 'CustomFont', sans-serif;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
    min-height: 100vh;
    background: rgba(255, 255, 255, 0.1);
}

.wrapper__menu {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

.wrapper__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    list-style: none;
}

.wrapper__item {
    display: block;
    line-height: 40px;
}

.wrapper__menu img {
    height: 40px;
    width: 40px;
    vertical-align: middle;
}

.wrapper__item, .wrapper__item a {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 2px 10px;
    text-decoration: none;
    font-size: 1vw;
    font-weight: 500;
    color: #fff;
}

.wrapper__menu a:hover {
    background: rgba(255, 255, 255, 0.1);
}

.wrapper__menu .wrapper__item:first-child {
    margin-right: auto;
    font-size: 1.4vw;
    font-weight: 600;
    vertical-align: middle;
    text-align: center;
}

.search {
    font-size: 1vw;
    color: #fff;
    margin-bottom: 80px;
}

.search .search__box {
    margin: 50px auto;
    width: 70%;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 20px;
}

.search__box .search__heading {
    text-align: center;
    font-size: 1.2vw;
    font-weight: 550;
}

.search__main-options {
    display: flex;
    justify-content: space-between;
    margin: 15px auto 0 auto;
}

.search__bar-left,
.search__bar-right {
    width: 50%;
    padding: 0px 20px;
}

.search__main-options .search__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    white-space: nowrap;
}

.search__main-options select,
.search__main-options input {
    width: 40%;
    padding: 3px;
    background: #fff;
    border: 1px solid rgba(255, 255, 255, 100%);
    border-radius: 2px;
    outline: none;
    font-family: 'CustomFont', sans-serif;
    font-size: 0.9vw;
    color: #000;
}

.search__inner-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

#money input,
#year input {
    width: 28%;
    min-width: 50px;
}

.search__heading--additional {
    text-align: center;
    font-size: 1.1vw;
    font-weight: 510;
    margin: 20px 0;
}

.search__options {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 50%;
}

.search__column {
    display: flex;
    flex-direction: column;
}

.search__column label {
    margin: 5px;
}


.search__options--mod {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
    line-height: 35px;
    font-size: 1vw;
}

.search__options--mod .search__text {
    display: inline-block;
    width: 25%;
    margin-right: 30px;
    background: #005c8a;
    border-radius: 5px;
    font-size: 1.1vw;
    font-weight: 500;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
}

.search__options--mod input {
    margin-left: 20px;
    accent-color: #005c8a;
}

.search__buttons {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search__buttons button {
    width: 80px;
    height: 30px;
    background: transparent;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
    border: 2px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'CustomFont', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}

.search__buttons .search__reset-btn:hover {
    background: #ad0c0c
}

.search__buttons .search__submit-btn:hover {
    background: #3c9806;
}

.products {
    width: 100%;
    height: fit-content;
}

.products__heading {
    text-align: center;
    font-size: 1.5vw;
    font-weight: 550;
    color: #fff;
}

.products__wrap {
    width: 100%;
}

.products__top,
.products__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.products__item {
    position: relative;
    width: 22%;
    min-height: 370px;
    margin: 25px auto;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
    border: 2px solid #fff;
    border-radius: 10px;
}

.products__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 94%;
    margin: 10px auto 20px auto;
    border: 2px solid #fff;
    border-radius: 7px;
    padding: 4px;
}

.products__image img {
    width: 94%;
    max-height: 155px;
}

.products__info {
    display: flex;
    flex-direction: column;
    width: 94%;
    margin: 0 10px;
    list-style: none;
    font-size: 0.9vw;
    font-weight: 400;
    color: #fff;
}

.products__row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 4px;
}

.products__row:last-child {
    font-size: 1.1vw;
    font-weight: 500;
}

.products__row:last-child .products__row--special:last-child {
    color: #3c9806;
}

.products__link {
    position: absolute;
    right: 15px;
    bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 35px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 5px;
    font-family: 'CustomFont', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
}

.products__link:hover {
    background: #3c9806;
    transform: translateY(-2px);
}

.footer {
    width: 100%;
    height: fit-content;
    margin-top: 100px;
    padding-top: 15px;
    background: rgba(255, 255, 255, 0.2);
}

.footer__top {
    width: 50%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.footer__heading {
    white-space: nowrap;
    font-weight: 500;
    font-size: 1.2vw;
    color: #fff;
}

.footer__top .footer__item {
    width: 140px;
    height: 40px;
    margin-left: 5px;
    border: 1px solid #fff;
    border-radius: 4px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    font-size: 1vw;
    color: #fff;
}

.footer__top #Telegram-blog {
    background: #08c;
}

.footer__top #YouTube-blog {
    background: #c90505;
}

.footer__top #Twitter-blog {
    background: #1da1f2;
}

.footer__top #Facebook-blog {
    background: #4267b2;
}

.footer__bottom {
    width: 80%;
    margin: 50px auto 0 auto;
    padding-bottom: 10px;
    text-align: center;
    font-size: 1vw;
    color: #fff;
}

.footer__text--mod {
    margin-top: 20px;
    font-size: 0.7vw;
}

.back {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 15px;
}

.back .back__link {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 3%;
    padding: 5px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 5px;
    font-family: 'CustomFont', sans-serif;
    font-size: 16px;
    font-weight: 550;
    text-decoration: none;
    color: #fff;
}

.back .back__link:hover {
    background: #fff;
    color: #232323;
    font-weight: 550;
}

.auth-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.auth-wrap__box {
    background: rgba(255, 255, 255, 0.1);
    width: 600px;
    border: 2px solid #fff;
    border-radius: 10px;
    color: #fff;
    padding: 20px;
}

.auth-wrap .auth-wrap__heading {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 25px;
    line-height: 50px;
}

.auth-wrap__heading img {
    height: 35px;
    width: 35px;
    vertical-align: middle;
}

.auth-wrap .auth-wrap__input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.auth-wrap .auth-wrap__input input {
    font-family: 'CustomFont', sans-serif;
    width: 80%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 100%);
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    color: #fff;
    padding: 5px;
    line-height: 20px;
}

.auth-wrap__input input::placeholder {
    color: #fff;
}

.auth-wrap label > i {
    width: 25px;
    height: 25px;
    color: #fff;
    font-size: 20px;
    vertical-align: middle;
    text-align: center;
}

.auth-wrap .auth-wrap__remember-forgot {
    display: flex;
    justify-content: center;
    column-gap: 12px;
    font-size: .8rem;
    margin: 0 70px;
    line-height: 20px;
}

.auth-wrap__forgot,
.auth-wrap__sign-link {
    color: #fff;
    text-decoration: none;
    vertical-align: middle;
}

.auth-wrap__forgot:hover,
.auth-wrap__sign-link:hover {
    text-decoration: underline;
}

.auth-wrap__submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 15px 0;
    line-height: 20px;
}

.auth-wrap__btn {
    font-family: 'CustomFont', sans-serif;
    width: 25%;
    font-size: 1rem;
    font-weight: 500;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
}

.auth-wrap__btn:hover {
    transform: translateY(2px);
}

.auth-wrap__submit--text {
    display: inline-block;
    margin: 5px auto;
}

.auth-wrap__no-account {
    font-size: .8rem;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
}

.reg-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.reg-wrap__box {
    background: rgba(255, 255, 255, 0.1);
    width: 600px;
    border: 2px solid #fff;
    border-radius: 10px;
    color: #fff;
    padding: 20px;
}

.reg-wrap .reg-wrap__heading {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 25px;
    line-height: 50px;
}

.reg-wrap__heading img {
    height: 35px;
    width: 35px;
    vertical-align: middle;
}

.reg-wrap .reg-wrap__input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.reg-wrap input {
    font-family: 'CustomFont', sans-serif;
    width: 80%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 100%);
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    color: #fff;
    padding: 5px;
    line-height: 20px;
}

.reg-wrap__input input::placeholder {
    color: #fff;
}

.reg-wrap__input label > i {
    width: 25px;
    height: 25px;
    color: #fff;
    font-size: 20px;
    vertical-align: middle;
    text-align: center;
}

.reg-wrap .reg-wrap__submit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 15px 0;
    line-height: 20px;
}

.reg-wrap .reg-wrap__btn {
    font-family: 'CustomFont', sans-serif;
    width: 160px;
    height: 34px;
    font-size: 1rem;
    font-weight: 500;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
}

.reg-wrap .reg-wrap__btn:hover {
    transform: translateY(2px);
}